@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    @keyframes scroll-left {
        0% { transform: translateX(0); }
        100% { transform: translateX(-50%); }
    }

    --animate-scroll-left: scroll-left 40s linear infinite;
    --animate-scroll-right: scroll-left 40s linear infinite reverse;
}

html {
    scroll-behavior: smooth;
}




 /* Wrapper: menyembunyikan overflow */
.marquee-container {
    position: relative;
    overflow: hidden;
}



/* Konten panjang: berisi 2 set elemen */
.marquee-track {
    display: flex;
    width: max-content;
    white-space: nowrap;
}

/* Lowong animasi halus */
@keyframes marquee-left {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); } /* geser setengah karena ada konten duplikat */
}

@keyframes marquee-right {
    0% { transform: translateX(-50%); }
    100% { transform: translateX(0); }
}

/* Variasi animasi */
.marquee-left {
    animation: marquee-left 25s linear infinite;
}

.marquee-right {
    animation: marquee-right 25s linear infinite;
}
